<% posts.forEach(function(post, index) {%>

<div class="container ">
  <div class="panel panel-primary col-md-9 col-md-offset-1">
    <div class="panel-body ">
        <h4><%= post.name %></h4>
    </div>
    <div class="panel-footer">
        <h4><small>description: <%= post.description %></small></h4>
    </div>
  </div>  
</div>
<% }); %>
